@page "/fetchdata"

<h1>Weather forecast</h1>

@if (parkings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Parking</th>
                <th>Link do googlemaps</th>
                <th>Pozostałe wolne miejsca na parkingu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parking in parkings)
            {
                <tr>
                    <td>@parking.Street</td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(parking.ParkingUrl))
                        {
                            @("Something is no no!")
                        }
                        else
                        {
                            <a href="@(parking.ParkingUrl)" target="_blank">
                                @("Here is icon which not work!")
                            </a>
                        }
                    </td>
                    <td>@parking.ParkingPlaces</td>
                </tr>
            }
        </tbody>
    </table>
}